<% if params[:album_id] %>
    <%= form_for(@image_gallery , :html => {:multipart => true} ) do |f| %>
        <% if @image_gallery.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@image_gallery.errors.count, "error") %> prohibited this image_gallery from being saved:</h2>

              <ul>
                <% @image_gallery.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :Изображение %><br>
          <%= f.file_field :avatar %>
        </div>
        <div class="field">
          <%= f.hidden_field :album_id, :value => params[:album_id]  %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

<% else %>

    <div id="error_explanation">
      <h2>Альбом не выбран</h2>
    </div>

<% end %>