<h1>Listing image_galleries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @image_galleries.each do |image_gallery| %>
      <tr>
        <td><%= image_gallery.name %></td>
        <td><%= image_gallery.description %></td>
        <td><%= link_to 'Show', image_gallery %></td>
        <td><%= link_to 'Edit', edit_image_gallery_path(image_gallery) %></td>
        <td><%= link_to 'Destroy', image_gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image gallery', new_image_gallery_path %>
