<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image_gallery.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image_gallery.description %>
</p>
<p>
  <strong>Альбом:</strong>
  <%= ImageAlbum.find(@image_gallery.album_id).name %>
</p>
<p>
  <strong>Description:</strong>
  <%= image_tag(@image_gallery.avatar.url(:thumb)) %>
</p>

<%= link_to 'Edit', edit_image_gallery_path(@image_gallery) %> |
<%= link_to 'Back', image_galleries_path %>
