

<%= stylesheet_link_tag    "about_info", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "image_galleries", media: "all", "data-turbolinks-track" => true %>

<div class="content">

  <div class="left_block1">

    <div class="left">
      <div class="service_block">
        <div class="service_title">
          <div class="service_title_arrow"> Услуги ТПП РД </div>
        </div>
        <div class="service_content">
          <% @services.each do |service|  %>

              <div class="service_content_element">
                <a  style="text-decoration: none"  href="/service/<%= service.service_href %>"><%= service.name %></a>
              </div>

          <% end %>
        </div>

      </div>
      <div class="left_bottom_menu">
        <% @left_bottom_menu.each do |element| %>
            <a style="text-decoration: none" href="<%= element[0] %>">
              <div class="left_bottom_menu_element">
                <div class="left_bottom_menu_text">
                  <%= element[1] %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>

  </div>

  <div class="content_text">

    <div class="gallery">
      <div class="news_title_block">
        ГАЛЕРЕЯ
      </div>


      <div class="gallery_content">
        <% @albums.each do |albums| %>
            <a href="/navigations/gallery?album_id=<%=albums.id%>"> <div class="gallery_content_item" onresize="resize()">
              <div class="hover_image_block"><div class="text_content"><%= albums.name %></div></div>
              <% image = ImageGallery.find_by_album_id(albums.id) %>
              <%= image_tag(image.avatar.url(:medium)) %>
            </div>
            </a>
        <% end %>
      </div>
    </div>


  </div>

</div>

<style>

    .hover_image_block {
        background: rgba(55, 55, 75,0.8);
        color: #ffffff;
        width: 97%;
        height:  97%;
        position: absolute;
        text-align: center;


    }
    .hover_image_block  .text_content{

        display: table-cell;
        vertical-align: middle;

    }


</style>

<script type="text/javascript">

    var im_width = document.getElementsByClassName('hover_image_block')[0].clientWidth;
    var im_height = document.getElementsByClassName('hover_image_block')[0].clientHeight;

    var text_content = document.getElementsByClassName('text_content');

    for (var i = text_content.length; i--;) {
        text_content[i].style.width = im_width+'px';
        text_content[i].style.height = im_height+'px';
    }

    function resize() {

        for (var i = text_content.length; i--;) {
            text_content[i].style.width = im_width+'px';
            text_content[i].style.height = im_height+'px';
        }
    }
</script>
