

<%= stylesheet_link_tag    "about_info", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "image_galleries", media: "all", "data-turbolinks-track" => true %>

<div class="content">

  <div class="left_block1">

    <div class="left">
      <div class="service_block">
        <div class="service_title">
          <div class="service_title_arrow"> Услуги ТПП РД </div>
        </div>
        <div class="service_content">
          <% @services.each do |service|  %>

              <div class="service_content_element">
                <a  style="text-decoration: none"  href="/service/<%= service.service_href %>"><%= service.name %></a>
              </div>

          <% end %>
        </div>

      </div>
      <div class="left_bottom_menu">
        <% @left_bottom_menu.each do |element| %>
            <a style="text-decoration: none" href="<%= element[0] %>">
              <div class="left_bottom_menu_element">
                <div class="left_bottom_menu_text">
                  <%= element[1] %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>

  </div>

  <div class="content_text">

    <div class="gallery">

      <div class="news_title_block">
        ГАЛЕРЕЯ&nbsp;/&nbsp;<%= ImageAlbum.find(params[:album_id]).name %>
      </div>


      <div class="gallery_content">
        <% @images.each do |image| %>
            <div onclick="show_image(this)" class="gallery_content_item" date_full_url="<%= image.avatar.url %>">
              <%= image_tag(image.avatar.url(:medium))%>
            </div>
        <% end %>



      </div>

      <div class="news_block_pages">

        <% if @images_length/12 < 5 %>

            <% for i in 1..@images_length/12+1 %>
                <a href="/navigations/gallery?offset=<%= ( i - 1) * 12 %>&album_id=<%=params[:album_id]%>"><div><%= i %></div></a>
            <% end %>

        <% else %>
            <%
               if params[:offset].to_i/12 == 0
                 start = 1

                 if @images_length/12 < start + 4
                   end_point = @images_length/12
                 else
                   end_point = params[:offset].to_i/12+4
                 end

               else
                 start = params[:offset].to_i/12
                 if start.to_i == 1
                   start = 1
                 else
                   start -= 1
                 end
                 if @images_length/12 < start + 4
                   end_point = @news_length/12
                 else
                   end_point = params[:offset].to_i/12+4
                 end
               end
            %>
            <% for i in start..end_point%>
                <a href="/navigations/gallery?offset=<%= ( (i-1) * 12) %>&album_id=<%=params[:album_id]%>"><div><%= i %></div></a>
            <% end %>
            <% if end_point != @images_length/12 %>
                <div>...</div>
                <a href="/navigations/gallery?offset=<%= @images_length-1 %>&album_id=<%=params[:album_id]%>"><div><%= @images_length/12 %></div></a>
            <% end %>

        <% end %>
      </div>


    </div>

  </div>
</div>


<div id="fon" onclick="hide_image()">

</div>
<div id="image_full">
  <img src="">
</div>
<%= javascript_include_tag('gallery_script.js') %>