<%= stylesheet_link_tag    "about_info", media: "all", "data-turbolinks-track" => true %>

<div class="content">

  <div class="left_block1">

    <div class="left">
      <div class="service_block">
        <div class="service_title">
          <div class="service_title_arrow"> Услуги ТПП РД </div>
        </div>
        <div class="service_content">
          <% @services.each do |service|  %>

              <div class="service_content_element">
                <a  style="text-decoration: none"  style="text-decoration: none" href="/service/<%= service.service_href %>"><%= service.name %></a>
              </div>

          <% end %>
        </div>

      </div>
      <div class="left_bottom_menu">
        <% @left_bottom_menu.each do |element| %>
            <a style="text-decoration: none" href="<%= element[0] %>">
              <div class="left_bottom_menu_element">
                <div class="left_bottom_menu_text">
                  <%= element[1] %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>

  </div>

  <div class="content_text">

    <%= @news.text.html_safe %>

  </div>

</div>
