<%= stylesheet_link_tag    "about_info", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "all_news", media: "all", "data-turbolinks-track" => true %>

<div class="content">

  <div class="left_block1">

    <div class="left">
      <div class="service_block">
        <div class="service_title">
          <div class="service_title_arrow"> Услуги ТПП РД </div>
        </div>
        <div class="service_content">
          <% @services.each do |service|  %>

              <div class="service_content_element">
                <a  style="text-decoration: none"  href="/service/<%= service.service_href %>"><%= service.name %></a>
              </div>

          <% end %>
        </div>

      </div>
      <div class="left_bottom_menu">
        <% @left_bottom_menu.each do |element| %>
            <a style="text-decoration: none" href="<%= element[0] %>">
              <div class="left_bottom_menu_element">
                <div class="left_bottom_menu_text">
                  <%= element[1] %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>

  </div>

  <div class="content_text">

    <div class="news_title_block">
      ВСЕ КОМЕРЧЕСКИЕ ПРЕДЛОЖЕНИЯ
    </div>
    <div class="news_content_block">
      <% @quotations.each do |new| %>
          <div class="news_item">
            <a style="text-decoration: none" href="/navigations/preview_show/?id=<%= new.id %>">
              <div class="news_item_title">
                <%= new.title %>
              </div>
            </a>
            <div class="news_item_text">

              <div class="news_item_image">
                <% image = /<img.*?src=["\']*([\S]+)["\'].*?>/.match new.text %>
                <%  image = image.to_s.sub("width" ,"") %>
                <%=  image.html_safe  %>

              </div>
              <%= new.small_text.truncate(300) %>
            </div>
            <div class="news__item_buttons">

            </div>   <div style="clear: both">&nbsp;</div>
          </div>

      <% end %>


      <div class="news_block_pages">

        <% if @quotations_length/3 < 5 %>

            <% for i in 1..@quotations_length/3 %>
                <a href="/navigations/quotations?offset=<%= ( i - 1) * 3 %>"><div><%= i %></div></a>
            <% end %>

        <% else %>
            <%
               if params[:offset].to_i/3 == 0
                 start = 1

                 if @quotations_length/3 < start + 4
                   end_point = @quotations_length/3
                 else
                   end_point = params[:offset].to_i/3+4
                 end

               else
                 start = params[:offset].to_i/3
                 if start.to_i == 1
                   start = 1
                 else
                   start -= 1
                 end
                 if @quotations_length/3 < start + 4
                   end_point = @quotations_length/3
                 else
                   end_point = params[:offset].to_i/3+4
                 end
               end
            %>
            <% for i in start..end_point%>
                <a href="/navigations/quotations?offset=<%= ( (i-1) * 3) %>"><div><%= i %></div></a>
            <% end %>
            <% if end_point != @quotations_length/3 %>
                <div>...</div>
                <a href="/navigations/quotations?offset=<%= @quotations_length-1 %>"><div><%= @quotations_length/3 %></div></a>
            <% end %>

        <% end %>
      </div>
    </div>


    <script type="text/javascript">

        $('.star1').rating({ callback: function(value, link){ alert(value); } });

    </script>

  </div>

</div>
