<%= form_for(@person ,  :html => { :multipart => true } ) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Имя %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Фамилия %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :Отчество %><br>
    <%= f.text_field :patronymic %>
  </div>
  <div class="field">
    <%= f.label :Описание %><br>
    <%= f.cktext_area :description, :as => :ckeditor %>
  </div>
  <div class="field">
    <%= f.label :Аватар %><br>
    <%=f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
