<h1>Люди</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>Описание</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.patronymic %></td>
        <td><%= person.description %></td>
        <td><%= link_to 'Показать', person %></td>
        <td><%= link_to 'Изменить', edit_person_path(person) %></td>
        <td><%= link_to 'Удалить', person, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_person_path %>
