<p id="notice"><%= notice %></p>

<p>
  <strong>Аватар:</strong>
<div class="col-xs-6 col-sm-3 placeholder">
  <img src="<%= @person.avatar.url(:medium) %>" class="img-responsive" alt="Generic placeholder thumbnail"/>
    </div>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Patronymic:</strong>
  <%= @person.patronymic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
