<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Заголовок %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Превью %><br>
    <%= f.text_field :small_text %>
  </div>
    <div class="field">
      <%= f.label :Аватар %><br>
      <%=f.file_field :avatar %>
    </div>
  <div class="field">
    <%= f.label :Текст %><br>
    <%= f.cktext_area :text, :as => :ckeditor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
