<h1>Список конкурсов</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Превью</th>
      <th>Текст</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.title %></td>
        <td><%= contest.small_text %></td>
        <td><%= contest.text %></td>
        <td><%= link_to 'Показать', contest %></td>
        <td><%= link_to 'Изменить', edit_contest_path(contest) %></td>
        <td><%= link_to 'Удалить', contest, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_contest_path %>
