<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contest.title %>
</p>

<p>
  <strong>Аватар:</strong>
  <img src="<%= @person.avatar.url(:medium) %>"/>
</p>

<p>
  <strong>Small text:</strong>
  <%= @contest.small_text %>
</p>

<p>
  <strong>Text:</strong>
  <%= @contest.text %>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
