
<!DOCTYPE html>
<html lang="ru">

<html>
<head>
  <meta charset="utf-8">
  <title>ТПП РД Админ - панель</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= administration_index_path %>">Админ - панель</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li <% if controller_name == 'news' %> class="active" <% end %>><a href="/news">Новости</a></li>
        <li <% if controller_name == 'events' %> class="active" <% end %>><a href="/events">Мероприятия</a></li>
        <li <% if controller_name == 'contests' %> class="active" <% end %>><a href="/contests">Конкурсы</a></li>
        <li <% if controller_name == 'previews' %> class="active" <% end %>><a href="/previews">Анонсы</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li <% if controller_name == 'people' %> class="active" <% end %>><a href="/people">Люди</a></li>
        <li <% if controller_name == 'departments' %> class="active" <% end %>><a href="/departments">Отделы</a></li>
        <li <% if controller_name == 'static_texts' %> class="active" <% end %>><a href="/static_texts">Статичные тексты страниц</a></li>
        <li <% if controller_name == 'service_lists' %> class="active" <% end %>><a href="/service_lists">Услуги</a></li>
        <li <% if controller_name == 'image_galleries' %> class="active" <% end %>><a href="/image_galleries">Галерея</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


      <div class="table-responsive">
        <br>
        <%= yield %>
      </div>
    </div>


  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
</body>
</html>
