<%= form_for(@service_list) do |f| %>
  <% if @service_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_list.errors.count, "error") %> prohibited this service_list from being saved:</h2>

      <ul>
      <% @service_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Название %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :Ссылка_на_страницу %><br>
      <%= f.collection_select(:service_href , StaticText.all, :name, :name) %>
    </div>
  <div class="actions">
    <%= f.submit('Создать') %>
  </div>
<% end %>
