<h1>Список Услуг</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Ссылка на страницу</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_lists.each do |service_list| %>
      <tr>
        <td><%= service_list.name %></td>
        <td><a href="/service/<%= service_list.service_href %>"><%= service_list.service_href %> </a></td>
        <td><%= link_to 'Показать', service_list %></td>
        <td><%= link_to 'Изменить', edit_service_list_path(service_list) %></td>
        <td><%= link_to 'Удалить', service_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать Услугу', new_service_list_path %>
