<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @service_list.name %>
</p>

<p>
  <strong>Ссылка на страницу:</strong>
  <%= @service_list.service_href %>
</p>

<%= link_to 'Изменить', edit_service_list_path(@service_list) %> |
<%= link_to 'Назад', service_lists_path %>
