<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Глава_отдела %><br>
    <%= f.collection_select(:head_id , Person.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, :as => :ckeditor %>
  </div>
  <div class="field">
    <%= f.label :contacts %><br>
    <%= f.text_area :contacts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
