<h1>Список отделов</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Глава</th>
      <th>Описание</th>
      <th>Контакты</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><a href="/people/<%=department.head_id %>"><%= Person.find(department.head_id).name %> <%= Person.find(department.head_id).last_name %></a></td>
        <td><%= department.description %></td>
        <td><%= department.contacts %></td>
        <td><%= link_to 'Показать', department %></td>
        <td><%= link_to 'Изменить', edit_department_path(department) %></td>
        <td><%= link_to 'Удалить', department, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_department_path %>
