<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Заголовок %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Превью %><br>
    <%= f.text_field :small_text %>
  </div>
  <div class="field">
    <%= f.label :Текст %><br>
    <%= f.cktext_area :text, :as => :ckeditor %>
  </div>
  <div class="field">
    <%= f.label :Дата %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :Широта %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :Долгата %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
