<h1>Список мероприятий</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Превью</th>
      <th>Текст</th>
      <th>Дата</th>
      <th>Широта</th>
      <th>Долгота</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.small_text.truncate(100) %></td>
        <td><%= event.text %></td>
        <td><%= event.date %></td>
        <td><%= event.lat %></td>
        <td><%= event.lon %></td>
        <td><%= link_to 'Показать', event %></td>
        <td><%= link_to 'Изменить', edit_event_path(event) %></td>
        <td><%= link_to 'Удалить', event, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_event_path %>
