<%= form_for(@news) do |f| %>
    <% if @news.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

          <ul>
            <% @news.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :Заголовок %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :Превью %><br />
      <%= f.text_field :small_text %>
    </div>
    <div class="field">
      <%= f.label :Статья %><br />
      <%= f.cktext_area :text, :as => :ckeditor %>
    </div>
    <div class="field">
      <%= f.label :Seo_title %><br />
      <%= f.text_field :seo_title %>
    </div>
    <div class="field">
      <%= f.label :Seo_keywords %><br />
      <%= f.text_field :seo_keywords %>
    </div>
    <div class="field">
      <%= f.label :Seo_description %><br />
      <%= f.text_field :seo_description %>
    </div>
    <div class="field">
      <%= f.label :Дата %><br />
      <%= f.date_field :data %>
    </div>
    <div class="actions">
      <%= f.submit :action => 'create'%>
    </div>
<% end %>


