<div class="table-responsive">
  <table class="table table table-striped">

    <thead>
    <tr>
      <td>Заголовок</td>
      <td>Превью</td>
      <td>Статья</td>
      <td>Дата</td>
      <td>Seo title</td>
      <td>Seo keywords</td>
      <td>Seo description</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <% @news.each do |news| %>

        <tr>

          <td><%= news.title %></td>
          <td><%= news.small_text.truncate(100) %></td>
          <td><%= news.text.truncate(100) %></td>
          <td><%= news.data %></td>
          <td><%= news.seo_title %></td>
          <td><%= news.seo_keywords %></td>
          <td><%= news.seo_description %></td>

          <td><%= link_to 'Показать', news %></td>
          <td><%= link_to 'Изменить', edit_news_path(news) %></td>
          <td><%= link_to 'Удалить', news, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>

        </tr>

    <% end %>
    <tbody>
    </table>
</div>
<%= link_to 'Создать', new_news_path %>