<%= form_for(@static_text) do |f| %>
  <% if @static_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_text.errors.count, "error") %> prohibited this static_text from being saved:</h2>

      <ul>
      <% @static_text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.cktext_area :text, :as => :ckeditor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
