<h1>Список статичных текстов</h1>

<table table table-striped>
  <thead>
    <tr>
      <th>Названик</th>
      <th>Текст</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @static_texts.each do |static_text| %>
      <tr>
        <td><%= static_text.name %></td>
        <td><%= static_text.text.truncate(100) %></td>
        <td><%= link_to 'Показать', static_text %></td>
        <td><%= link_to 'Изменить', edit_static_text_path(static_text) %></td>
        <td><%= link_to 'Удалить', static_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать статичный текст', new_static_text_path %>
