<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @static_text.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @static_text.text %>
</p>

<%= link_to 'Edit', edit_static_text_path(@static_text) %> |
<%= link_to 'Back', static_texts_path %>
