<%= form_for(@preview) do |f| %>
    <% if @preview.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@preview.errors.count, "error") %> prohibited this preview from being saved:</h2>

          <ul>
            <% @preview.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :Заголовок %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :Дата %><br>
      <%= f.date_select :date %>
    </div>

    <div class="field">
      <%= f.label :Превью %><br>
      <%= f.text_field :small_text %>
    </div>
    <div class="field">
      <%= f.label :Текс %><br>
      <%= f.cktext_area :text, :as => :ckeditor %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
