<h1>Список анонсов</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Дата</th>
      <th>Текст</th>
      <th>Превью</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @previews.each do |preview| %>
      <tr>
        <td><%= preview.title %></td>
        <td><%= preview.date %></td>
        <td><%= preview.text.truncate(100)  %></td>
        <td><%= preview.small_text.truncate(100) %></td>
        <td><%= link_to 'Показать', preview %></td>
        <td><%= link_to 'Изменить', edit_preview_path(preview) %></td>
        <td><%= link_to 'Удалить', preview, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_preview_path %>
