<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @preview.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @preview.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @preview.text.html_safe %>
</p>

<p>
  <strong>Small text:</strong>
  <%= @preview.small_text %>
</p>

<%= link_to 'Edit', edit_preview_path(@preview) %> |
<%= link_to 'Back', previews_path %>
