
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ТПП РД</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "style.css", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="header_bg_image">
  </div>
  <div class="header_left_image">
  </div>
  <div class="header_bottom_linet_image">
  </div>
  <div class="logo">
  </div>
  <div class="head_top_right_menu">
  </div>
  <div class="head_search">
  </div>
  <div class="menu">
    <div class="menu_item about_us_button">
      <span><a href="#">О палате</a></span>
    </div>
    <div class="menu_item members_button">
      <span><a href="#">Членство в ТПП РД</a></span>
    </div>
    <div class="menu_item info_button">
      <span><a href="#">Реестр партнеров</a></span>
    </div>
    <div class="menu_item partner_button">
      <span><a href="#">Партнеры</a></span>
    </div>
    <div class="sizer">&nbsp;</div>
  </div>

  <div class="head_date_picker">
  </div>
  <div class="head_date_picker_info">
    <%= image_tag('date_picker_info.png') %>
  </div>

</div>

<%= yield %>

<div class="footer">
  <%= image_tag('logo_kagama.png', :class => "logo_kagama") %>
  <div class="footer__title_text">
    Торгово-промышленная палата республики Дагестан <br>
    367010, Республика Дагестан, г.Махачкала, пер. Умаханова, 12
  </div>

</div>

</body>
</html>
