<%= stylesheet_link_tag    "about", media: "all", "data-turbolinks-track" => true %>

<div class="content">

  <div class="left_block">

    <div class="left">
      <div class="service_block">
        <div class="service_title">
          <div class="service_title_arrow"> Услуги ТПП РД </div>
        </div>
        <div class="service_content">
          <% @services.each do |service|  %>

              <div class="service_content_element">
                <a  style="text-decoration: none"  href="/service/<%= service.service_href %>"><%= service.name %></a>
              </div>

          <% end %>
        </div>

      </div>
      <div class="left_bottom_menu">
        <% @left_bottom_menu.each do |element| %>
            <a style="text-decoration: none" href="<%= element[0] %>">
              <div class="left_bottom_menu_element">
                <div class="left_bottom_menu_text">
                  <%= element[1] %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>

    <div class="right">
      <div class="news_block">
        <div class="news_block_costul">
          <a style="text-decoration: none" href="/navigations/news">
            <div class="news_title">
              <div class="service_title_arrow"> НОВОСТИ </div>
            </div>
          </a>
        </div>
        <div class="news_content">
          <%  @news.each do |news| %>
              <a style="text-decoration: none" href="/navigations/news_show/?id=<%= news.id %>">
                <% news.small_text.truncate(100) %>
                <div class="news_content_element">
                  <div class="news_content_text">
                    <%= news.small_text.truncate(100) %>
                  </div>
                  <div class="news_content_date">
                    <%= news.data %>
                  </div>
                </div>
              </a>
          <% end %>

          <div class="news_menu">
            <a href="/navigations/news" style="text-decoration: none">все новости</a>
          </div>
        </div>
      </div>

    </div>
    <div class="preview_block">
      <div class="preview">
        <a href="/navigations/previews" style="text-decoration: none">
          <div class="preview_title">
            АНОНСЫ
          </div>
        </a>
        <% @previews.each do |preview| %>
            <a style="text-decoration: none" href="/navigations/preview_show/?id=<%= preview.id %>">
              <div class="preview_content">
                <div class="preview_content_date">
                  <%= preview.date %>
                </div>
                <div class="preview_content_text">
                  <%= preview.small_text.truncate(80) %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right_block">

    <div class="poll_block">
      <div class="poll_title">
        Вниманию членов Палаты! Что Вас привлекает в сотрудничестве с Палатой?
      </div>
      <div class="poll_text">
        Мы решили рассмотреть этот вопрос исходя из массовых убеждений, что вот и о чем мы хотим вам сказать. На самом деле, этот лишь пример описания и доноса мысли опроса до читателей и голосующих. Ничего особенного, просто опрос и инновация
      </div>
      <div class="poll_answers">
        <%= image_tag('questions.png') %>
      </div>
    </div>
    <div class="right_block_bottom">
      <div class="event_block">
        <div class="event_title">
          <a href="/navigations/events" style="text-decoration: none">
            <div class="event_title_arrow"> МЕРОПРИЯТИЯ </div>
          </a>
        </div>

        <% @events.each do |event| %>
            <a href="/navigations/event_show?id=<%= event.id %>" style="text-decoration: none"> <div class="event_content">
              <div class="event_content_date">
                <%= event.date %>
              </div>
              <div class="event_content_text">
                <%= event.small_text.truncate(80) %>
              </div>
            </div>
            </a>

        <% end %>
        <div class="event_menu">
          <a href="/navigations/events" style="text-decoration: none">все мероприятия</a>
        </div>
      </div>
      <div class="event_block" style="margin-left: 8px;">
        <div class="event_title">
          <a href="/navigations/quotations" style="text-decoration: none"><div class="event_title_arrow offers_title_arrow"> КОММЕРЧЕСКИЕ&nbsp;ПРЕДЛОЖЕНИЯ </div></a>
        </div>
        <% @quotations.each do |event| %>
            <a href="/navigations/quotations_show?id=<%= event.id %>" style="text-decoration: none"> <div class="event_content">
              <div class="event_content_date">
                <%= event.date %>
              </div>
              <div class="event_content_text">
                <%= event.small_text.truncate(80) %>
              </div>
            </div>
            </a>

        <% end %>

        <div class="event_menu">
          <a href="" style="text-decoration: none">все предложения</a>
        </div>
      </div>
    </div>
    <div class="contacts_block">
      <div class="contacts_block_info_email">
        TPPRD@BK.RU
      </div>
      <div class="contacts_block_info_email contacts_block_info_phone">
        +7(8722) 67-43-20 67-43-21
      </div>
      <div class="contacts_block_info_email contacts_block_info_point">
        Республика Дагестан, г.Махачкала, пер. Умаханова, 12 ,367010
      </div>
    </div>
  </div>

</div>
<%= javascript_include_tag "aboutScript.js" %>
