<%= stylesheet_link_tag    "about_info", media: "all", "data-turbolinks-track" => true %>

<div class="content">

  <div class="left_block1">

    <div class="left">
      <div class="service_block">
        <div class="service_title">
          <div class="service_title_arrow"> Услуги ТПП РД </div>
        </div>
        <div class="service_content">
          <% @services.each do |service|  %>

              <div class="service_content_element">
                <a  style="text-decoration: none"  href="/service/<%= service.service_href %>"><%= service.name %></a>
              </div>

          <% end %>
        </div>

      </div>
      <div class="left_bottom_menu">
        <div class="left_bottom_menu_element">
          <div class="left_bottom_menu_text">
            Конкурсы
          </div>
        </div>
        <div class="left_bottom_menu_element">
          <div class="left_bottom_menu_text">
            ТПП РФ
          </div>
        </div>
        <div class="left_bottom_menu_element">
          <div class="left_bottom_menu_text">
            Отзывы
          </div>
        </div>
        <div class="left_bottom_menu_element">
          <div class="left_bottom_menu_text">
            Полезные ссылки
          </div>
        </div>
        <div class="left_bottom_menu_element">
          <div class="left_bottom_menu_text">
            Кнопки и банеры
          </div>
        </div>
        <div class="left_bottom_menu_element">
          <div class="left_bottom_menu_text">
            Вакансии
          </div>
        </div>
      </div>
    </div>

  </div>

<div class="content_text">

  <%= @content.text.html_safe %>

</div>

</div>
