// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left_block {
  float: left;

  .left {
    margin-top: 20px;
    width: 48%;
    float: left;
   // max-width: 320px;

    .service_block {
      width: 100%;

      .service_title {
        background-color: rgb( 58, 136, 199 );
        width: 95%;
        height: 50px;
        font-size: 16px;
        font-family: "OpenSans";
        color: rgb( 255, 255, 255 );
        line-height: 1.5;
      }

      .service_content {
        background-color: rgb( 207, 219, 229 );
        padding-top: 0px;
        width: 95%;
    //    line-height: 2.143;

        .service_content_element {
     //     height: 29px;
          padding: 15px;
          font-size: 14px;
          font-family: "OpenSans";
          color: rgb( 82, 82, 82 );
          cursor: pointer;
          padding-left: 10px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;


          A {
            text-decoration: none;
            color: rgb( 82, 82, 82 ); /* Цвет ссылок */
          }
          A:visited {
            color: rgb( 82, 82, 82 ); /* Цвет посещенных ссылок */
          }
          A:active {
            color: rgb( 82, 82, 82 ); /* Цвет активных ссылок */
          }

        }
        .service_content_active_element {
          background-color: rgb( 226, 230, 233 );
          width: 390px;
          height: 44px;
          font-size: 14px;
          font-family: "OpenSans";
          color: rgb( 82, 82, 82 );
          cursor: default;
        }

        .service_content_element:hover {
          background-color: rgb( 226, 230, 233 );
        }
      }

      .service_title {
        background-color: rgb( 58, 136, 199 );
        width: 95%;
        height: 35px;
        font-size: 16px;
        font-family: "OpenSans";
        color: rgb( 255, 255, 255 );
        line-height: 1.5;
        padding-top: 15px;

        .service_title_arrow {
          background-image: url("service_title_arrow.png");
          background-repeat: no-repeat;
          text-align: right;
          margin-left: 22px;
          width: 144px;
          height: 20px;

        }
      }
    }
  }

  .right {
    margin-top: 20px;
    margin-left: 1%;
    width: 51%;
//    min-width: 523px;
    float: right;

    .news_block {
      width: 100%;

      .news_block_costul {
        width: 100%;
        height: 50px;

        .news_title {
          background-color: rgb( 54, 177, 106 );
          width: 100%;
          height: 35px;
          font-size: 16px;
          font-family: "OpenSans";
          color: rgb( 255, 255, 255 );
          line-height: 1.5;
          padding-top: 15px;

          .service_title_arrow {
            background-image: url("service_title_arrow.png");
            background-repeat: no-repeat;
            text-align: right;
            margin-left: 22px;
            width: 144px;
            height: 20px;

          }
        }
      }

      .news_content {
        background-color: rgb( 203, 230, 214 );
        width: 100%;
        line-height: 2.143;
        padding-top: 20px;
        padding-bottom: 3px;

        .news_content_element {
          margin-bottom: 1px;
          background-color: rgb(244, 245, 249);
          width: 100%;
          height: 110px;
          font-size: 14px;
          font-family: "OpenSans";
          color: rgb(86, 86, 86);
          cursor: default;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          cursor: pointer;

          .news_content_text {
            padding: 10px;
            font-size: 14px;
            font-family: "OpenSans";
            line-height: 1.714;
            width: 95%;
            height: 61px;
          }

          .news_content_date {
            font-size: 14px;
            font-family: "OpenSans";
            color: rgb( 41, 132, 79 );
            font-weight: bold;
            line-height: 1.714;
            left: 14px;
            width: 100px;
            height: 10px;
            margin-left: 12px;
            margin-top: 3px;
          }
        }

        .news_content_active_element {
          margin-bottom: 1px;
          background-color: rgb( 123, 213, 160 );
          width: 100%;
          height: 110px;
          font-size: 14px;
          font-family: "OpenSans";
          color: rgb( 255, 255, 255 );
          cursor: default;
        }

        .news_content_element:hover {
          background-color: rgb(223, 245, 243);
      //    color: rgb( 255, 255, 255 );
        }
      }

    }

  }

}