

.news_title_block{
  padding-top: 15px;
  padding-left: 30px;
  background-color: rgb( 226, 226, 226 );
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Arial";
  color: rgb( 24, 94, 140 );
  text-align: left;
}
.news_content_block {
  margin-top: 15px;
  width: 100%;
  background-color: rgb( 247, 247, 247 );
  //   height: 793px;
}
.news_item {
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb( 255, 255, 255 );
  width: 100%;
}


.news_item_title {
  padding-bottom: 40px;
  margin-left: 30px;
  margin-right: 340px;
  font-size: 20px;
  font-family: "Arial";
  color: rgb( 58, 136, 199 );
  font-weight: bold;
  text-align: left;
 // width: ;
  height: 19px;
}

.news_item_text {
  //   width: 60%;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 15px;
  font-family: "Arial";
  color: rgb( 75, 75, 75 );
  line-height: 1.467;
  text-align: left;

}
.news__item_buttons {
  margin-top: 55px;
  margin-left: 30px;
  height: 25px;

}
.news_item_image {
  background: #ededed;;
  padding: 6px;
  width: 300px;
  height: 200px;
  float: right;
  margin-top: -45px;
  margin-right: 20px;
  margin-left: 40px;
  border: 1px solid #cdcdcd;
}
.news_item_image img {
  width: 300px;
  height: 200px;
}

.right_block {
  width: 1164px;
}
.news_block_pages {

  margin-top: 30px;
  height: 30px;
}
.news_block_pages div {
  background: #ffffff;
  cursor: pointer;
  padding-top: 5px;
  height: 25px;
  float: left;
  width: 40px;
  font-size: 15px;
  font-family: "Arial";
  color: rgb( 32, 32, 32 );
  line-height: 1.467;
  text-align: center;
}
.news_block_pages div:hover {
  background: #43b88b;
}