
.date_picker {
    width: 100%;
    height: 100%;
    background: #000000;
}

.calendar div {

    font-family: 'Roboto';
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#component_d_p_date_picker {
    float: right;

}
#component_d_p_date_picker_left_month {
    background: url("date_picker_arrow_left.png") no-repeat left;

}
#component_d_p_date_picker_right_month {
    background: url("date_picker_arrow_right.png") no-repeat right;

}

 .component_d_p_info_block{
     float: left;

}
.component_d_p_content_text {
    margin-top: 40px;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgb( 255, 254, 254 );
    line-height: 1.692;
    text-align: left;
    width: 300px;
}
.calendar {
    display: none;
    -webkit-transition: all 0.4s;-moz-transition: all 0.4s;-ms-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;
    position: absolute;
    background-color: rgb( 45, 114, 170 );
    width: 648px;
    height: 300px;
    padding: 10px;
    z-index: 100;
}
.component_d_p_date_block {
    margin-top: 5px;
    font-size: 22px;
    font-family: "OpenSans";
    color: rgb( 23, 23, 23 );
    line-height: 1;
    text-align: left;
    width: 101px;
    height: 16px;

}
.component_d_p_time_block {
    margin-top: 30px;
    padding-top: 6px;
    background-color: rgb( 29, 94, 147 );
    width: 100px;
    height: 24px;
    font-size: 15px;
    font-family: "OpenSans";
    color: rgb( 255, 254, 254 );
    line-height: 1.467;
    text-align: center;
}
.component_d_p_more_info_block {
    margin-top: 40px;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgb( 255, 254, 254 );
    line-height: 1.692;
    text-align: left;
    width: 232px;
    height: 13px;
}
