// Place all the styles related to the image_galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news_title_block{
  padding-top: 15px;
  padding-left: 30px;
  background-color: rgb( 226, 226, 226 );
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Arial";
  color: rgb( 24, 94, 140 );
  text-align: left;
}
.gallery_content {
  margin-top: 20px;
  background-color: rgb( 247, 247, 247 );
  padding-left: 30px;
  padding-top: 10px;
  height: 643px;
}
.gallery_content_item {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 3px;
  background-color: rgb( 223, 223, 223 );
  width: 21%;
  height:  22%;
  margin: 1%;
  border: 1px solid #aaaaaa;
}
.gallery_content_item img{
  width: 100%;
  height: 100%;
}
.news_block_pages {

  margin-top: 30px;
  height: 30px;
}
.news_block_pages div {
  background: #ffffff;
  cursor: pointer;
  padding-top: 5px;
  height: 25px;
  float: left;
  width: 40px;
  font-size: 15px;
  font-family: "Arial";
  color: rgb( 32, 32, 32 );
  line-height: 1.467;
  text-align: center;
}
.news_block_pages div:hover {
  background: #43b88b;
}
#fon {

  display: none;
  position: fixed;
  background: rgba(0 ,0 ,0 ,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
#image_full {



  img {
    position: fixed;
    border: 3px solid #eeeeee;

  }
}