// Place all the styles related to the sevice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.head_date_picker {

  display: none;

}
.content_static_text {

  width: 80%;
  margin: auto;
}

