@font-face {
    font-family: Roboto; /* имя шрифта для CSS правил */
    src: local("Roboto"), /* проверяем наличие шрифта в ОС пользователя */
    url('hzHveV6f.ttf'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: OpenSans; /* имя шрифта для CSS правил */
    src: local("OpenSans"), /* проверяем наличие шрифта в ОС пользователя */
    url('TRdeJxz6.ttf'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body {
    margin: 0px;
    background: #eaedef;
    width: 99.9%;
    z-index: 1;

}
.page {

    margin: 0 auto;
    min-width: 1280px;
    max-width: 1590px;
}
.header_bg_image img{

    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.header_bg_image{
    width: 1076px;
    height: 274px;
    position: absolute;
    z-index: -1;

}
.header_left_image {
    background: url("header_left_Image.png") no-repeat;
    width: 670px;
    height: 270px;
    float: right;

}
.header_left_image a {
    text-decoration:  none;
}
.header_bottom_linet_image {
    background-image: url("header_bottom_linet_Image.png");
    width: 753px;
    height: 78px;
    float: right;
    margin-top: 35px;

}
.logo {
    background: url("logo.png") no-repeat;
    width: 340px;
    height: 76px;
    margin-top: 82px;
    margin-left: 29.5%;
    font-size: 21px;
    font-weight: bold;
    font-family: "OpenSans";
    color: rgb( 232, 232, 232 );
    line-height: 1.476;
    padding-left: 140px;

}
.head_top_right_menu {
    background-image: url("top_right_menu.png");
    width: 220px;
    height: 30px;
    float: right;
    margin-top: -120px;

}
.head_search {

    background-image: url("search.png");
    width: 310px;
    height: 30px;
    float: right;
 //   margin-top: 42px;
    margin-right: 1%;

}
.head_search input {
    width: 90%;
    height: 100%;
    background: rgba(0 ,0 ,0 , 0);
    border: none;
    padding-left: 10%;
    outline-width:0;
}
.head_date_picker {
    background: url("date_picker.png")  no-repeat;
    width: 670px;
    height: 323px;
 //   padding-top: 35px;
    margin-top: 42px;
    margin-right: -2px;
    float: right;

}
.date_picker_button {
    width: 232px;
    height: 30px;
  //  margin-top: -35px;
}
.head_date_picker_info {
    margin-top: 50px;
 }
.menu {
    font-size: 16px;
    background:#3a88c7;
//    width: 60%;
    height: 40px;
    margin-top: 270px;
 //   text-align: justify;
    min-width: 603px;

}

.menu div.sizer {
    display: inline-block;
    line-height:1px;
    font-size: 1px;
    visibility: hidden;
    width: 100%;
    height: 0;
}

.menu_item {
    display: inline-block;
    vertical-align: top;
    background: #41627d;
    line-height: 40px;
}

.menu_item span {
    display: block;
}

.menu .about_us_button span {
    background: url("point1.png") left top no-repeat;
}
.menu .members_button span {
    background: url("point2.png") left top no-repeat;
}
.menu .info_button span {
    background: url("point3.png") left top no-repeat;
}
.menu .partner_button span {
    background: url("point4.png") left top no-repeat;
}
.menu .partner_button a {
   // background: none;
}

.menu_item .menu_item_a {
    font-size: 12px;
    display: block;
    height: 40px;
    padding: 0 20px 0 60px;
    color: #fff;
    text-decoration: none;
    background: url('point1end.png') right bottom no-repeat;
}

.menu_item a:hover {

}














.news_menu {
    background-color: rgb( 239, 239, 239 );
    width: 200px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #488dca;
    line-height: 1.714;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}
.news_menu a {
    color: #488dca;
}
.left_bottom_menu {
    background-color: rgb( 243, 243, 243 );
    width: 95%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left_bottom_menu_element {
    background-image: url("arrow_default.png");
    background-repeat: no-repeat;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb( 105, 158, 196 );
    font-weight: bold;
    line-height: 1.143;
    width: 90%;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.left_bottom_menu_text {
    margin-left: 30px;
    padding-top: 2px;
    cursor: pointer;
}
.left_bottom_menu_element:hover {
    background-image: url("arrow_active.png");
}
.preview_block {
    margin-top: 30px;
    padding-top: 15px;
    background-color: rgb( 243, 243, 243 );
    height: auto;
    width: 100%;
    float: left;
}
.preview {
    background-image: url("preview_bg.png");
    background-repeat: no-repeat;
    margin-left: 0%;
    margin-left: 50%;
    padding-bottom: 40px;
    padding-right: 10px;
}
.preview_title {
    font-size: 17px;
    font-family: "OpenSans";
    color: rgb( 105, 158, 196 );
    font-weight: bold;
    line-height: 0.941;
    text-align: right;
    width: 76px;
    height: 12px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-top: 8px;
}
.preview_content_date {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #555555;
}
.preview_content_text {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #689ec4;
    width: 98%;
}
.preview_content {
    border-bottom: dotted 1px rgb( 182, 182, 182 );
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;
}
.preview_content:hover {

    background: #eeeeee;
}
.right_block {
    -webkit-transition: all 0.4s;-moz-transition: all 0.4s;-ms-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;
// margin-left: 21px;
    margin-top: 20px;
    float: right;
}
.event_block {
    background-color: rgb( 243, 243, 243 );
    width: 331px;
    float: left;
}
.event_title {
    background-color: rgb( 231, 231, 231 );
    width: 331px;
    height: 35px;
    padding-top: 15px;
}
.event_title_arrow {
    background-image: url("event_title_arrow.png");
    background-repeat: no-repeat;
    text-align: right;
    margin-left: 22px;
    padding-top: 3px;
    width: 144px;
    height: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb( 54  , 177, 106 );
}
.event_content_date {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #555555;
}
.event_content_text {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #689ec4;
    width: 301px;
}
.event_content {
    border-bottom: dotted 1px rgb( 182, 182, 182 );
    padding-top: 20px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;
    cursor: pointer;

}
.event_content:hover {
    background: #eeeeee;
}
.right_block_bottom {
    width: 670px;
}
.event_menu {
    background-color: rgb( 239, 239, 239 );
    width: 200px;
    height: 32px;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #488dca;
    line-height: 1.714;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}
.event_menu a {
    color: #488dca;
}
.offers_title_arrow {
    background-image: url("offers_title_arrow.png");
    background-repeat: no-repeat;
    color: rgb( 190, 102, 102 );
    width: 265px;
}
.poll_block {
    background-color: rgb( 243, 243, 243 );
    width: 650px;
    height: 380px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.poll_title {
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb( 45, 114, 170 );
    line-height: 1.5;
    width: 545px;
    height: 36px;

}
.poll_text {
    font-size: 15px;
    font-family: "OpenSans";
    color: rgb( 98, 98, 98 );
    line-height: 1.6;
    width: 596px;
    height: 87px;
    margin-top: 40px;
}
.poll_block img {
    margin-top: 20px;
}
.contacts_block {
    background-color: rgb( 243, 243, 243 );
    width: 640px;
    height: 75px;
    margin-top: 575px;
    padding-left: 30px;
    padding-top: 25px;

}
.contacts_block_info_email {
    background-image: url("mail_icon.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 116, 116, 116 );
    width: 182px;
    height: 23px;
}
.contacts_block_info_phone {
    background-image: url("phone_icon.png");
    height: 23px;
    margin-top: 10px;
}
.contacts_block_info_point {
    background-image: url("point_icon.png");
    height: 23px;
    width: 300px;
    margin-top: -50px;
    margin-left: 300px;
}
.header {
    float: left;
    width: 100%;
}
.content {
    float: left;
    width: 100%;
}
.footer {
    background-color: rgb( 55, 54, 54 );
    width: 99%;
    height: 50px;
    float: left;
    margin-top: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.footer__title_text {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb( 217, 217, 217 );
    line-height: 1.538;
    text-align: left;
    width: 399px;
    height: 33px;
    z-index: 202;
    margin-top: auto;
}
.logo_kagama {
    width: 170px;
    height: 31px;
    float: right;
    margin-right: 175px;
    margin-top: 10px;
}


.drop_menu {

    display: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    background-color: rgb( 62, 62, 62 );
    position: absolute;
    left: 0px;
    top: 309px;
    padding-bottom: 10px;
    padding-right: 40px;
    z-index: 33332;
}
.drop_menu_bg {
    background-color: rgb( 52, 118, 171 );
    position: absolute;
    width: 35px;
    height: 100%;
}
.drop_menu_bg_content{
    margin-top: 20px;
    margin-left: 58px;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb( 232, 232, 232 );
    line-height: 1.714;
}
.drop_menu_bg_content A {

    font-size: 14px;
    font-family: "OpenSans";
    color: rgb( 232, 232, 232 );
    line-height: 1.714;
    text-decoration: none;
}
.drop_menu_bg_content A:active {

    font-size: 14px;
    font-family: "OpenSans";
    color: #51db8a;
    line-height: 1.714;
    text-decoration: none;
}
.drop_menu_bg_content A:visited  {

    font-size: 14px;
    font-family: "OpenSans";
    color: #51db8a;
    line-height: 1.714;
    text-decoration: none;
}

