<%= form_for(@header_image) do |f| %>
  <% if @header_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@header_image.errors.count, "error") %> prohibited this header_image from being saved:</h2>

      <ul>
      <% @header_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

    <%=f.label :avatar %>
    <%=f.file_field :avatar %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
