<h1>Listing header_images</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @header_images.each do |header_image| %>
      <tr>
        <td><%= link_to 'Show', header_image %></td>
        <td><%= link_to 'Edit', edit_header_image_path(header_image) %></td>
        <td><%= link_to 'Destroy', header_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Header image', new_header_image_path %>
