<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ТПП РД</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "style.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "date_picker.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag    "application", media: "all", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>
</head>
<body onresize="resize()">

<div class="page">
  <div class="header">
    <div class="header_bg_image" id="header_bg_image">
      <% @header_images.each do |image|  %>

        <%= image_tag(image.avatar(:medium), id: 'image_'+image.id.to_s , style:"position:absolute;") %>

        <% end %>
    </div>

    <div class="header_left_image">
      <a href="/about/index">
        <div class="logo">
          Торгово-промышленная палата<br>
          Республики Дагестан
        </div>
      </a>
      <div class="head_top_right_menu">
      </div>
      <div class="header_bottom_linet_image">

        <div class="head_date_picker">
          <div class="head_search">
            <input type="text">
          </div>
          <div class="date_picker_button">

          </div>


          <div id="component_d_p_pattern_div">
          </div>

          <div class="calendar">
            <div class="component_d_p_info_block">
              <div class="component_d_p_date_block">
                6 Апреля
              </div>
              <div class="component_d_p_content_text">Конференция по торгово-экономическому сотрудничеству Санкт-Петербурга и Свердловской области
              </div>
              <div class="component_d_p_time_block">
                14:00 МСК
              </div>
              <div class="component_d_p_more_info_block">
                Более подробнее о мероприятии >>
              </div>

            </div>
            <div id="component_d_p_date_picker">
              <div id="component_d_p_date_picker_left_month"></div>
              <div id="component_d_p_date_picker_center_month"></div>
              <div id="component_d_p_date_picker_right_month"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="menu">
      <div class="menu_item about_us_button">
        <span><a class="menu_item_a" href="/about/info">О ТПП РД</a></span>
        <div class="drop_menu">
          <div class="drop_menu_bg"></div>
          <div class="drop_menu_bg_content">
            <a href="/service/charter">Устав</a><br>
            <a href="/service/service"> Услуги</a><br>
            <a href="#"> Организационная структура</a><br>
            <a href="#"> Палата в лицах</a><br>
            <a href="#"> Соглашение о сотруднечестве</a><br>
            <a href="#"> Отделы</a><br>
          </div>
        </div>
      </div>
      <div class="menu_item members_button">
        <span><a class="menu_item_a" href="#">ЧЛЕНСТВО В ТПП РД</a></span>
        <div class="drop_menu">
          <div class="drop_menu_bg"></div>
          <div class="drop_menu_bg_content">
            <a href="/service/benefits"> Преимущества вступления в ТПП РД</a><br>
            <a href="#"> Условия вступления</a><br>
            <a href="#"> Анкета</a><br>
            <a href="#"> Членский билет</a><br>
            <a href="#"> Положение о взносах</a><br>
          </div>
        </div>
      </div>
      <div class="menu_item info_button">
        <span><a class="menu_item_a" href="#">РЕЕСТР ПАРТНЕРОВ</a></span>
        <div class="drop_menu">
          <div class="drop_menu_bg"></div>
          <div class="drop_menu_bg_content">
            <a href="#"> Реестр надежных партнеров </a><br>
            <a href="#"> Реестр предпринемателей не выполнивших свои обязательства</a><br>
          </div>
        </div>
      </div>
      <div class="menu_item partner_button">
        <span><a class="menu_item_a" href="#">КОНТАКТЫ</a></span>
  
      </div>
      <div class="menu_item " style="width: 630px">
      </div>
      <div class="sizer" >&nbsp;</div>
    </div>

  </div>

  <%= yield %>

  <div class="footer">
    <%= image_tag('logo_kagama.png', :class => "logo_kagama") %>
    <div class="footer__title_text">
      Торгово-промышленная палата республики Дагестан <br>
      367010, Республика Дагестан, г.Махачкала, пер. Умаханова, 12
    </div>

  </div>
</div>
<%= javascript_include_tag "date_picker.js" %>
<%= javascript_include_tag "mainScript.js" %>

</body>
</html>